<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/bodyCarga'); %>
</body>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>